<app-header variant="admin"></app-header>

<ion-content [fullscreen]="true" class="dashboard-content">

  <h1 class="main-title">Gerenciamento de Conteúdo</h1>

  <ion-button
    class="card-button"
    fill="clear"
    routerLink="/noticias-admin"
  >
    <div class="card">
      <div class="icon-circle">
        <ion-icon name="newspaper-outline"></ion-icon>
      </div>

      <h2>Notícias</h2>
      <p>Gerenciar notícias, adicionar, editar e excluir publicações</p>
    </div>
  </ion-button>

  <ion-button
    class="card-button"
    fill="clear"
    routerLink="/eventos-admin"
  >
    <div class="card">
      <div class="icon-circle">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>

      <h2>Eventos</h2>
      <p>Gerenciar eventos, adicionar, editar e excluir programações</p>
    </div>
  </ion-button>

</ion-content>