<ion-content [fullscreen]="true" class="login-content">

  <div class="login-container">

    <div class="login-box">

      <img src="/assets/Logo_Lyra_Preto.png" alt="Logo" class="logo">

      <h1 class="title">Área Administrativa</h1>
      <p class="subtitle">Sociedade de Canto Lyra</p>

      <div class="input-group">
        <label class="input-label">E-mail</label>
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="email" placeholder="admin@lyra.com.br"></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <label class="input-label">Senha</label>

        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" placeholder="••••••••"></ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" class="login-button">
        Entrar
      </ion-button>

      <ion-button fill="clear" class="back-button">
        Voltar para o app
      </ion-button>

    </div>

  </div>

</ion-content>