<app-header 
  variant="adminAction"
  sectionName="Eventos"
  sectionButton="Novo Evento"
  actionRoute="/evento-form"
  backRoute="/dashboard">
</app-header>

<ion-content [fullscreen]="true">
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Título</th>
          <th>Local</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="goToEdit(1)">
          <td>12/04/2026</td>
          <td>Baile da Melhor Idade</td>
          <td>Sociedade de Canto Lyra</td>
        </tr>

        <tr (click)="goToEdit(2)">
          <td>25/04/2026</td>
          <td>20º Baile de Kerb</td>
          <td>Sociedade de Canto Lyra</td>
        </tr>

        <tr (click)="goToEdit(3)">
          <td>19/09/2026</td>
          <td>Baile do Rei e Rainha</td>
          <td>Sociedade de Canto Lyra</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
