<app-header 
  variant="adminAction"
  sectionName="Eventos"
  sectionButton="Novo Evento"
  actionRoute="/evento-form"
  backRoute="/dashboard">
</app-header>

<ion-content [fullscreen]="true">
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Título</th>
          <th>Local</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>14/03/2026</td>
          <td>Ensaio Aberto ao Público</td>
          <td>Sede da Sociedade Lyra</td>
        </tr>
        <tr>
          <td>19/03/2026</td>
          <td>Workshop de Técnica Vocal</td>
          <td>Auditório Municipal</td>
        </tr>
        <tr>
          <td>09/04/2026</td>
          <td>Concerto Beneficente</td>
          <td>Igreja Matriz São Pedro</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
